.title {
    color: red;
    font-size: 45px;
}
#first {
    color: orangered;
    font-size: 20px;
}
#second {
    color: orange;
    font-size: 20px;
}
#third {
    color: purple;
    font-size: 20px;
}
#fourth {
    color: greenyellow;
    font-size: 20px;
}